.header
    .title
        a(href="/") My Blog
    nav.navbar.navbar-default
        a.btn.btn-warning.btn-sm(href="/posts") VER POSTS
        a.btn.btn-warning.btn-sm(href="/posts/nuevo") CREAR NUEVO

