extends layout

block content
  p.mt-5 Welcome to #{title}
  //- .row
  //-   .col-lg-12
  //-     form(ref='uploadForm', action='/upload', method='POST', encType="multipart/form-data")
  //-       .row 
  //-         .form-group
  //-           label Imagen
  //-           input(type="file", name="url_imagen")
  //-           input(type='submit', value='Upload!')
