body {
  padding: 0x;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: white;
  margin-left:5em;
  font-size:0.9em;
  padding:0.5em;
  border:1px solid white;
  text-decoration:none;
}

.header{
  display: flex;
  background-color: indigo;
  color:whitesmoke;
  justify-content: flex-start;
  padding:2em 0;
  flex-direction: column;
}

.header .title a:hover{
  text-decoration: none;
  color:lightblue;
}

.navbar{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

nav .btn{
  height:30px;
  transform: scale(0.8);
  padding: .25rem 1.5rem;
}

table{
  font-size:0.6em;
}

table .btn{
  font-size: 1em;
}

input[type="textarea"]{
  min-height:200px;
}

.form label, 
.form input, 
.form textarea,
.form select{
  font-size:0.6em;
}

.error{
  color:red;
  font-size:xx-small;
}